/*  This  is a comment within CSS.*/

/* I wish to change the color of my p tags, here is what I can do! */

p, h1{
    color: brown;
}

/* What we write before our curly brace is our selector. This is the term for the elements that on the HTML page that will be affected by this ruleset. */
body {
    background-color: cyan;

}


/* This is a class, this will select all elements with the class name. */
.class1{
    background-color: lightgrey;
    text-align: center;
    text-decoration: underline;


}

/* 
    To select an id, precede the selector with a #.
    Only one item with a specific ID per page should be used.
    Especially when Javascript will be applied, as it will make things complicated.
*/
#idExample {
    color: red;
}
/* css selectors
    -body
    -p
        -Element Selector selects all instances of a tag from the html page.
*/

/* in css we have three ways to refer to a color.
    Color keywords such as "Grey, Green, Red"
    RGBA codes. (three or four values from 0-255) Red, Green, Blue, and Albedo.
    Hexedecimel Code. -#002255, each pair of values represents one our RGB values, hex colors are made of three pairs of characters. These count from 0-9-a-f.


*/
/* This selector only works on btn classes within nav. */
nav .btn {
    text-shadow: 2px 2px 2px black;
}

/* This selecter only affects the direct children of the container. */
nav > .btn {
    background-color:  slategray;
}

a {
    /* This will change text color using the tag or element name. */
    color: aliceblue;
}

/* 
!CSS heirarchy
    This allows CSS to use distinct levels of priority to style elements.
    Order of priority from weakest to strongest:
    
    External Style Sheet (A .CSS file which isn't in the HTML file.)
    -element.
    -class.
    -ID.
    -!important.

    Internal Style Sheet (A .CSS file which IS in the HTML file.) This can be created with the <style> </style> tag.
    -element.
    -class.
    -ID.
    -!important.

    Inline Styling (Adding a style property to an HTML element)
    -!important
*/

/* styling unvisited links. */
a:link
{
    color: chocolate;
}
/* styling visited links. */
a:visited
{
    color: green;
}

/* styling links that my mouse is hovering over; */
a:hover {
    color:pink;
}

/* styling links while they are being clicked. */
a:active{
    color:antiquewhite;
}
